automation/n8n-workflow.json
{
  "name": "Hanuman Chalisa — Instagram Auto Post",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "days", "daysInterval": 2 }]
        },
        "triggerAtHour": 9,
        "triggerAtMinute": 0
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Every 2 Days 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "// Read current post index from persistent workflow storage\nconst staticData = $getWorkflowStaticData('global');\nconst index = staticData.postIndex !== undefined ? staticData.postIndex : 1; // starts at 1, cover already posted\nconsole.log('Current post index:', index);\nreturn [{ json: { currentIndex: index } }];"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Get Current Index",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://raw.githubusercontent.com/satyampavan999-rgb/hanuman-chalisa-posts/main/automation/posts.json",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Fetch Posts List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "// Pick the post for today based on index\nconst posts = $('Fetch Posts List').first().json;\nconst index = $('Get Current Index').first().json.currentIndex;\n\nif (index >= posts.length) {\n  throw new Error('All ' + posts.length + ' posts published! Campaign complete.');\n}\n\nconst post = posts[index];\nconsole.log(`Posting index ${index}: ${post.image}`);\n\n// Build the public GitHub raw image URL\nconst imageUrl = `https://raw.githubusercontent.com/satyampavan999-rgb/hanuman-chalisa-posts/main/export/instagram/${post.image}`;\n\nreturn [{ json: { ...post, imageUrl } }];"
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Get Post for Today",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $vars.IG_USER_ID }}/media",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "image_url",     "value": "={{ $json.imageUrl }}" },
            { "name": "caption",       "value": "={{ $json.caption }}" },
            { "name": "access_token",  "value": "={{ $vars.IG_ACCESS_TOKEN }}" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Create Instagram Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Wait 60s (Instagram processes image)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1300, 300],
      "webhookId": "wait-webhook-hc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $vars.IG_USER_ID }}/media_publish",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "creation_id",   "value": "={{ $('Create Instagram Container').first().json.id }}" },
            { "name": "access_token",  "value": "={{ $vars.IG_ACCESS_TOKEN }}" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Publish Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 300]
    },
    {
      "parameters": {
        "jsCode": "// Save incremented index so next run picks the next post\nconst staticData = $getWorkflowStaticData('global');\nconst nextIndex = (staticData.postIndex !== undefined ? staticData.postIndex : 0) + 1;\nstaticData.postIndex = nextIndex;\n\nconst postId = $('Publish Post').first().json.id;\nconsole.log(`Published! Post ID: ${postId}. Next index: ${nextIndex}`);\n\nreturn [{ json: { published: true, postId, nextIndex } }];"
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Save Progress",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 300]
    }
  ],
  "connections": {
    "Every 2 Days 9am": {
      "main": [[{ "node": "Get Current Index", "type": "main", "index": 0 }]]
    },
    "Get Current Index": {
      "main": [[{ "node": "Fetch Posts List", "type": "main", "index": 0 }]]
    },
    "Fetch Posts List": {
      "main": [[{ "node": "Get Post for Today", "type": "main", "index": 0 }]]
    },
    "Get Post for Today": {
      "main": [[{ "node": "Create Instagram Container", "type": "main", "index": 0 }]]
    },
    "Create Instagram Container": {
      "main": [[{ "node": "Wait 60s (Instagram processes image)", "type": "main", "index": 0 }]]
    },
    "Wait 60s (Instagram processes image)": {
      "main": [[{ "node": "Publish Post", "type": "main", "index": 0 }]]
    },
    "Publish Post": {
      "main": [[{ "node": "Save Progress", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
